
<% content_for :title, "fshugo • gateway to way to much data" %>

<div id="container">
	<div id="search">
		
		<h1 id="tagline">
			<span id="tagline-img"></span>
			Gateway to way to much data
		</h1>
		
		<div class="search_form">
			<%= form_tag( 'search', {:method => 'get'}) do %>
			   <%= text_field_tag :search_box, nil, placeholder: 'Search' %>
			   <% # => <input id="search_box" name="search_box" placeholder="Start your search" type="text" /> %>
			   <!--<%= submit_tag 'Search', :id => "search_button" %>-->
			<% end %>
		</div>
	</div>
</div>